#cabecalho {
  display: flex;
  align-items: center;
}

#cabecalho img {
  height: 150px;
}

#cabecalho h1 {
  width: 100%;
  text-align: center;
}

#menu {
  width: 100%;
  height: 50px;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu a {
  font-size: 30px;
  color: tomato;
}
